<li [ngClass]="{ 'list-group-item':true,
                'list-group-item-success': loveIts > 0,
                'list-group-item-danger': loveIts < 0 }" >
  <div class="row">
      <div class="col-xs-12">
       <p class="text-left" ><strong> {{ title | uppercase }}</strong></p>
       <p class="text-right">{{ create | date:'short' }} </p>
      </div>
      <div class="col-xs-12" style="margin-bottom:10px;">
        {{ content }}
      </div>
      <div class="col-xs-12">
        <button [ngClass]="{'btn btn-success':true}"
                (click)="addLoveIt()"
                style="margin-right:5px;">love it</button>

        <button [ngClass]="{'btn btn-danger':true}"
                (click)="addDontLoveIt()" >don't love it</button>
      </div>

  </div>
 
</li>